button {
  all: unset;
  font-weight: 500;
  color: var(--text-highlight);
  text-align: center;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-inline: auto;
  width: 100%;
  max-width: 28rem;
  box-sizing: border-box;

  &.btn-primary {
    margin-left: auto;
    color: white;
    background-color: #e43a12;

    &:hover,
    &:focus {
      background-color: #f3541c;
    }
  }

  &.btn-secondary {
    margin-left: auto;
    border: 1px solid var(--text-highlight);

    &:hover,
    &:focus {
      color: #e43a12;
      outline: 0.25rem solid var(--surface-secondary);
    }
  }
}

@media (width >= 1280px) {
  button {
    margin-inline: 0px;
    width: auto;
  }
  .actions-wrapper .btn-primary {
    margin-left: 0px;
  }
}
