label + .radio-wrapper {
  margin-top: 1rem;
}

.radio-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));

  gap: 1rem;
}

.radio-inner {
  position: relative;
  display: grid;
  justify-items: center;

  padding: 2rem 0.5rem 0.5rem;
  gap: 0.5rem;

  border: 2px solid var(--stroke-default);
  border-radius: 8px;

  & input,
  & input:focus,
  & input:hover {
    all: unset;

    position: absolute;
    inset: 0;
  }

  & .radio-image {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;

    width: 1.5rem;
    height: 1.5rem;

    background-image: url(../../assets/icons/radio-default.svg);
  }

  &:hover,
  &:focus-within {
    border: 2px solid var(--stroke-highlight);

    .radio-image {
      background-image: url(../../assets/icons/radio-hover.svg);
    }
  }

  &:has(:checked) {
    border: 2px solid var(--stroke-highlight);

    & .radio-image {
      background-image: url(../../assets/icons/radio-checked.svg);
    }
  }
}
