@import url(./fields/index.css);

form {
  margin-top: 3rem;
}

fieldset {
  display: grid;
  gap: 1.25rem;

  border: none;
}

legend {
  margin-bottom: 1.5rem;
  font: 600 1rem/1.25 var(--font-family);
}

fieldset + fieldset {
  margin-top: 3rem;
}

.actions-wrapper {
  display: flex;
  flex-direction: column;

  gap: 1rem;
  margin-top: 3rem;
}

@media (width >= 1280px) {
  fieldset {
    gap: 1.5rem;
  }

  .actions-wrapper {
    flex-direction: row;
    margin-top: 3rem;
  }
}
